* {
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(21, 21, 70);
  color: whitesmoke;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
h1,
h2 {
  text-align: center;
  line-height: 1.5;
  letter-spacing: 2px;
  margin-top: 20px;
}

h2 {
  margin-bottom: 25px;
}

.search {
  background-color: rgb(44, 44, 117);
  text-align: center;
  padding: 10px 20px;
  margin: 0 500px 20px 500px;
  font-size: 18px;
  color: goldenrod;
  border-radius: 8px;
  border: 1px solid goldenrod;
}

main {
  display: flex;
  flex-wrap: wrap;
  margin-left: 15px;
}

.movie {
  position: relative;
  background-color: rgb(44, 44, 117);
  border-radius: 4px;
  border: 1px solid goldenrod;
  box-shadow: 0 4px 5px rgba (0, 0, 0, 0.2);
  width: 275px;
  margin: 1rem;
}

.movie img {
  width: 100%;
}

.movie-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem 1rem;
  letter-spacing: 1px;
}

.margin-info h3 {
  margin: 0;
}

.movie-info span {
  background-color: rgb(21, 21, 70);
  padding: 0.25rem;
}

.movie-info span.green {
  color: green;
}

.movie-info span.orange {
  color: orange;
}

.movie-info span.red {
  color: red;
}

.overview {
  position: absolute;
  background: rgb(44, 44, 117);
  margin-bottom: -35px;
  border: 1px solid goldenrod;
  color: whitesmoke;
  max-height: 100%;
  overflow: auto;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 2rem;
  transform: translateY(100%);
  transition: transform 0.4s easy-in;
}

.overview h4 {
  margin-top: 0;
}

.movie:hover .overview {
  transform: translateY(0);
}
